@model List<Question>
@{
    string name = (string)(ViewData["BaseNamesModule"] ?? "");
    HtmlNamesFormatter questionsNames = new HtmlNamesFormatter(name, "Questions");
}
<h2>Вопросы</h2>

<table>
    <tr>
        <th>Номер вопроса</th>
        <th>Описание</th>
        <th>Компетенция</th>
    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
        Question question = Model[i];

        <tr>
            <td>
                @Html.TextArea(questionsNames.GetCompetentionComponent(["Number"], i), Model[i].Number.ToString(), new { @value = question.Number })
            </td>
            <td>
                @Html.TextArea(questionsNames.GetCompetentionComponent(["Description"], i), Model[i].Description, new { @value = question.Description })
            </td>
            <td>
                @Html.TextArea(questionsNames.GetCompetentionComponent(["Competention", "Name"], i), Model[i].Competention.Name, new { @value = question.Competention.Name })
            </td>
        </tr>
    }

</table>

<br></br>