@{
    ViewData["Title"] = "Информация из документа";
    ViewData["BaseNamesModule"] = "data";
}
@model ParsedDataBundle

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("EditedDataRecieve", "DataReciever", FormMethod.Post))
{
    @await Html.PartialAsync("CompetentionTable", Model.Competentions)
    @await Html.PartialAsync("QuestionTable", Model.Questions)
    @await Html.PartialAsync("PracticTasksTable", Model.PracticTasks)

    <input type="submit" value="Загрузить"/>
}

