<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/tables_style.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
