<a asp-action="Index" asp-controller="Home">Загрузить данные из файла</a>
<a asp-action="SpecialityPage" asp-controller="DataWorker">Работа со специальностью</a>
<a asp-action="CompetencePage" asp-controller="DataWorker">Работа с Компетенциями</a>
<a asp-action="TaskPage" asp-controller="DataWorker">Работа с Заданиями</a>