<a asp-action="Index" asp-controller="Home">Загрузить данные из файла</a>
<a asp-action="SpecialityPage" asp-controller="DataWorker">Работа со специальностью</a>

@await Html.PartialAsync("DisciplineAdder")
@await Html.PartialAsync("TaskAdd")